<!doctype html>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Parcial 2</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <a th:href="@{/gnome}">
            <button>
                Gnome sort
            </button>
        </a>
        <a th:href="@{/merge}">
            <button>
                Merge sort
            </button>
        </a>
        <a th:href="@{/bubble}">
            <button>
                Bubble sort
            </button>
        </a>
        <a th:href="@{/strand}">
            <button>
                Strand sort
            </button>
        </a>
        <a th:href="@{/pancake}">
            <button>
                Pancake sort
            </button>
        </a>
    </body>
</html>
